font-family: 'Amatic SC', cursive;
font-family: 'Josefin Slab', serif;

body {
  font-family: 'Josefin Slab', serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Amatic SC', serif;
}

.App {
  text-align: center;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 80px;
}

.App-header {
  background-color: #aa00ff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  color: white;
}

.adri-jacob {

}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

body, html {
  height: 100% !important;
}

body {
  background-image: url('./images/asanoha.png');
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
